@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
body{
  background: #00FF00;
  font-family: 'Libre Baskerville', serif;
}
.card{
  display:flex;
  align-items: center ;
  justify-content: center;
  flex-direction: column;
  height :95vh;
}
.chil{
  font-family: 'Libre Baskerville', serif;
  font-size :49px;
  color:#FF03AE;
  
  
}
